body{
 margin: 0;
 padding: 0;

}

ul{
  list-style-type: none;
  list-style: none;

}

.left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
  background-color: grey;
}

li a {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  font-size: 20px;
  font-family: sans-serif;
  list-style-type: none;
}


li:hover {
  color: #C57456;
}

.main {
  outline: 1px solid red;
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
}

.wrapper{

}

.wrapper ul li{
      margin:5px;
			padding:10px;
      height: 300px;
      width: 420px;
			float: left;
			list-style:none;
display: inline;}
